{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MouraWeb</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h2 class="azul-claro titulo-header">
            &lt;MouraWeb /&gt;
        </h2>

        <nav>
            <ul>
                <li><a class="hover-azul nav-principal" href="#Sobre">SOBRE</a></li>
                <li><a class="hover-azul nav-principal" href="#Projetos">PROJETOS</a></li>
                <li><a class="hover-azul nav-principal" href="#Stack">STACK</a></li>
                <li><a class="hover-azul nav-principal" href="#Contato">CONTATO</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section id="Sobre">
            <h3 class="azul-claro subtitulo-pequeno"># class MarcoMoura(Developer):</h3>
            <h1 class="azul-neon titulo-principal">MouraWeb</h1>
            <h1 class="branco subtitulo">Marco Moura</h1>
            <p>Desenvolvedor web júnior especializado em <span class="azul-claro">Python</span> & <span class="azul-cinza">Django</span>. Transformando lógica
                em experiências digitais elegantes.</p>
            <p class="azul-cinza">
                <span class="azul-petroleo-escuro">self</span>.<span class="azul-medio">nome =</span> "Marco Moura" <br>
                <span class="azul-petroleo-escuro">self</span>.<span class="azul-medio">stack =</span> ["Python", "Django", "PostgreSQL" <br>
                <span class="azul-petroleo-escuro">self</span>.<span class="azul-medio">status =</span> <span class="verde-esmeralda">"disponível"</span> <br>
            </p>

            <nav>
                <ul>
                    <li><a href="#Projetos">Ver projetos</a></li>
                    <li><a href="#Contato">Contato</a></li>
                </ul>
            </nav>

        </section>
    </main>
</body>

</html>