{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MouraWeb</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h2>
            &lt;MouraWeb /&gt;
        </h2>

        <nav>
            <ul>
                <li><a href="#Sobre">Sobre</a></li>
                <li><a href="#Projetos">Projetos</a></li>
                <li><a href="#Stack">Stack</a></li>
                <li><a href="#Contato">Contato</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section id="Sobre">
            <h3># class MarcoMoura(Developer):</h3>
            <h1>MouraWeb</h1>
            <h1>Marco Moura</h1>
            <p>Desenvolvedor web júnior especializado em Python & Django. Transformando lógica em experiências digitais elegantes.</p>
            <p>
                <span>self.nome = "Marco Moura"</span> <br>
                <span>self.stack = ["Python", "Django", "PostgreSQL"</span>] <br>
                <span>self.status = "disponível"</span> <br>
            </p>

            <nav>
                <ul>
                    <li><a href="#Projetos">Ver projetos</a></li>
                    <li><a href="#Contato">Contato</a></li>
                </ul>
            </nav>

        </section>
    </main>
</body>
</html>