:root{
    --azul-claro: #1ea2b8;
    --azul-muito-claro: #36c9eb;
    --azul-noite-escuro: #101829;
    --azul-medio: #404e64;
    --texto-azul-petroleo-escuro: #175c6f;
    --azul-acinzentado: #748bab;
    --azul-cinza: #445e82;
    --branco: #fff4f2;
    --azul-ardosia-escuro: #2c3544;
    --texto-verde-esmeralda: #2c7d55;
    --azul-marinho-escuro: #19273e;
    --vermelho: #96343d;
    --amarelo: #937619;
    
    --JetBrains-mono: 'JetBrains Mono', monospace;
    --Inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--azul-noite-escuro);
    padding-top: 4rem;
}

p {
    color: var(--azul-acinzentado);
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-family: var(--Inter);
    max-width: 31rem;
}

header, section, footer {
    padding: 0% 5%;
}

label {
    font-family: var(--JetBrains-mono);
    font-size: .9rem;
}

textarea {
    resize: vertical;
}

.texto-azul-claro {
    color: var(--azul-claro);
}

.texto-azul-cinza {
    color: var(--azul-cinza);
}

.texto-azul-petroleo-escuro {
    color: var(--texto-azul-petroleo-escuro);
}

.azul-medio {
    color: var(--azul-medio);
}

.texto-verde-esmeralda{
    color: var(--texto-verde-esmeralda);
}

.texto-branco {
    color: var(--branco);
}

