:root{
    --azul-claro: #1ea2b8;
    --azul-muito-claro: #36c9eb;
    --azul-noite-escuro: #101829;
    --azul-medio: #404e64;
    --azul-petroleo-escuro: #175c6f;
    --azul-acinzentado: #6c7e98;
    --azul-cinza: #445e82;
    --branco: #fff4f2;
    --azul-neon: #2323FF;
    --azul-ardosia-escuro: #404e64;
    --verde-esmeralda: #2c7d55;
    
    --JetBrains-mono: 'JetBrains Mono', monospace;
    --Inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--azul-noite-escuro);
}