.titulo-muito-pequeno {
    font-size: .875rem;
    letter-spacing: .05em;
    font-family: var(--JetBrains-mono);
    color: var(--azul-claro);
}

.titulo-principal {
    display: inline-block;
    font-size: 6rem;
    line-height: 1;
    font-family: var(--Inter);
    font-weight: 900;
    margin: 2rem 0rem;
    margin-bottom: 4rem;
    color: var(--azul-muito-claro);
}

.titulo {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -.05em;
    font-weight: 600;
    font-family: var(--Inter);
    margin: 2rem 0rem;
    color: var(--branco);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--azul-noite-escuro); /* importante para não ficar transparente */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0rem 1.25rem;
}

.nav-principal {
    text-decoration: none;
    color: var(--azul-acinzentado);
    font-family: var(--JetBrains-mono);
    letter-spacing: .05em;
    font-size: .75rem;
    transition-duration: .3s;
}

.nav-principal:hover {
    color: var(--azul-claro);
}

.btn-primario{
    background-color: var(--azul-claro);
    color: var(--azul-noite-escuro);
    border-radius: 5%;
    transition-duration: .3s;
    margin-left: 0rem;
}

.btn-primario:hover {
    background-color: var(--azul-muito-claro);
}

.btn-secundario{
    border: 0.07rem solid var(--azul-ardosia-escuro);
    border-radius: 10%;
    color: var(--branco);
    transition-duration: .3s;
}

.btn-secundario:hover {
    color: var(--azul-muito-claro);
    border: 0.07rem solid var(--azul-muito-claro);
}
