.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    z-index: 101;
    cursor: pointer;
    padding: 0;
}

.menu-toggle span {
    width: 100%;
    border-radius: .25rem;
    height: .2rem;
    background-color: var(--azul-claro);
    transition: all .3s ease;
}


@media (max-width: 768px) {

    .menu-toggle {
        display: flex;
    }
    
    nav {
        position: fixed;
        top: 4rem;
        right: -100%;
        width: 70%;
        height: calc(100vh - 4rem);
        background-color: var(--azul-noite-escuro);
        border-left: 0.1rem solid var(--azul-ardosia-escuro);
        transition: right 0.3s ease;
        z-index: 100;
    }

    nav ul {
        padding: 2rem 0;
        flex-direction: column;
    }
    
    nav ul li {
        padding: 1rem 1.25rem;
        text-align: center;
    }
    
    
    .titulo-principal{
        font-size: 4rem;
    }

    .titulo {
        font-size: 2.2rem;
    }


    #Contato, .container-skills {
        flex-direction: column;
        align-items: center;
    }

    .contato-texto, .container-skills-badge {
        width: 100%;
        margin-bottom: 2rem;
    }

    .container-form, .container-skills-barra {
        width: 100%;
        margin-bottom: 2rem;
    }


    footer {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    nav.nav-aberta{
        right: 0;
    }
    
}

@media (max-width: 480px) {
    .titulo-principal{
        font-size: 2.8rem;
    }

    .titulo{
        font-size: 1.8rem;
    }


    footer {
        font-size: .5rem;
    }


    #botoes-sobre {
        flex-direction: column;
        align-items: flex-start;
    }
}