@media (max-width: 768px) {
    .titulo-principal{
        font-size: 4rem;
    }

    .titulo {
        font-size: 2.2rem;
    }


    #Contato, .container-skills {
        flex-direction: column;
        align-items: center;
    }

    .contato-texto, .container-skills-badge {
        width: 100%;
        margin-bottom: 2rem;
    }

    .container-form, .container-skills-barra {
        width: 100%;
        margin-bottom: 2rem;
    }

}

@media (max-width: 480px) {
    .titulo-principal{
        font-size: 2.8rem;
    }

    .titulo{
        font-size: 1.8rem;
    }
}