
/* ========  SOBRE  ======== */

.conteudo-sobre p{
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-family: var(--Inter);
    max-width: 31rem;
}

#codigo-sobre {
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: var(--Inter);
    max-width: 31rem;
    color: var(--azul-cinza);
}

#botoes-sobre {
    display: flex;
    align-items: center;
    margin: 2.5rem 0rem;
    gap: 2rem;
}

#botoes-sobre a {
    text-decoration: none;
    font-family: var(--JetBrains-mono);
    padding: 1rem 1.2rem;
}


#Sobre {
    margin: 3rem 0rem;
    }
