@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root{
    --azul-claro: #1ea2b8;
    --azul-muito-claro: #36c9eb;
    --azul-noite-escuro: #101829;
    --azul-medio: #404e64;
    --azul-petroleo-escuro: #175c6f;
    --azul-acinzentado: #6c7e98;
    --azul-cinza: #445e82;
    --branco: #f9ccff;
    --azul-neon: #2323FF;
    --azul-ardosia-escuro: #404e64;
    --verde-esmeralda: #2c7d55;

    --JetBrains-mono: 'JetBrains Mono', monospace;
    --Inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--azul-noite-escuro);
}

header, section, footer {
    padding: 0% 5%;
}

.azul-claro {
    color: var(--azul-claro);
}

.azul-muito-claro {
    color: var(--azul-muito-claro);
}

.azul-noite-escuro{
    color: var(--azul-noite-escuro);
}

.azul-medio {
    color: var(--azul-medio);
}

.azul-petroleo-escuro {
    color: var(--azul-petroleo-escuro);
}

.azul-cinza {
    color: var(--azul-cinza);
}

.verde-esmeralda{
    color: var(--verde-esmeralda);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0rem 1.25rem;
}

.nav-principal {
    text-decoration: none;
    color: var(--azul-acinzentado);
    font-family: var(--JetBrains-mono);
    letter-spacing: .05em;
    font-size: .75rem;
    transition-duration: .3s;
}

.hover-azul:hover {
    color: var(--azul-claro);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.azul-neon {
    color: var(--azul-neon);
}

.branco {
    color: var(--branco);
}

p {
    color: var(--azul-acinzentado);
}

.titulo-header, .subtitulo-pequeno {
    font-size: .875rem;
    letter-spacing: .05em;
    font-family: var(--JetBrains-mono);
}

.titulo-principal {
    font-size: 6rem;
    line-height: 1;
    font-family: var(--Inter);
    font-weight: 900;
}

.subtitulo {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -.05em;
    font-weight: 600;
    font-family: var(--Inter);
}

#Sobre p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: var(--Inter);
}